[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone6.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2021-02-10 12:09:13.895810
SecretStorage = 3.3.1
collective.recipe.vscode = 0.1.6
createcoverage = 1.5
cryptography = 3.4.4
jeepney = 0.6.0
keyring = 22.0.1
prompt-toolkit = 1.0.18
watchdog = 1.0.2

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.2.5

# Added by buildout at 2021-08-10 14:15:32.035059
collective.timedevents = 1.0.4

# Required by:
# zope.session==4.4.0
zope.minmax = 2.2.0

# Required by:
# collective.timedevents==1.0.4
zope.session = 4.4.0
